<!DOCTYPE html>
<html lang="en"  style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book A New Flight</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	 <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i">
    
    
    

</head>
<body>
	<div class="container my-3">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2>Customer Booking Form</h2>
				<form th:action="@{/save}" th:object="${customer}" method="post">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>ID</label> <input type="number" class="form-control"
								th:field="*{id}">
						</div>
						<div class="col-md-6 form-group">
							<label>First Name</label> <input type="text" class="form-control"
								th:field="*{firstName}">
						</div>
						<div class="col-md-6 form-group">
							<label>Last Name</label> <input type="text" class="form-control"
								th:field="*{lastName}">
						</div>
						<div class="col-md-6 form-group">
							<label>Destination</label> <input type="text"
								class="form-control" th:field="*{Destination}">
						</div>
						<div class="col-md-6 form-group">
							<label>Class</label> <select class="form-control"
								th:field="*{travelClass}">
								<option value="">Choose...</option>
								<option value="FirstClass">First Class</option>
								<option value="Second Class">Second Class</option>
								<option value="Economy Class">Economy Class</option>
							</select>
						</div>

						<div class="col-md-6 form-group">
							<label>Age</label> <input type="number" step="any"
								class="form-control" th:field="*{age}">
						</div>

						<div class="col-md-6 form-group">
							<strong>Gender</strong>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									th:field="*{gender}" id="option1" value="Male"> <label
									class="form-check-label" for="option1">Male</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									th:field="*{gender}" id="option2" value="Female"> <label
									class="form-check-label" for="option2">Female</label>
							</div>
						</div>
						<div class="col-md-6 form-group"></div>
						<div class="col-md-6 form-group">
							<label>Booking Date</label> <input type="text"
								class="form-control" placeholder="yyyy-MM-dd"
								id="booking_datepicker" th:field="*{bookingDate}">
						</div>
						<div class="col-md-6 form-group">
							<label>Traveling Date</label> <input type="text"
								class="form-control" placeholder="yyyy-MM-dd"
								id="traveling_datepicker" th:field="*{travelingDate}">
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-block mt-3">Book</button>
				</form>
				<hr>

				<a th:href="@{/showTicket}" class="btn btn-primary btn-sm mb-3">View Ticket </a>
				<hr>

				<a th:href="@{/showFlights}" class="btn btn-primary btn-sm mb-3">Back Flight List </a>
	<hr>

				<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home Page</a>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$(function() {
		$("#join_datepicker").datepicker({dateFormat:"yy-mm-dd"});
		$("#retire_datepicker").datepicker({dateFormat:"yy-mm-dd"});
	});
</script>
</body>
</html>